@font-face {
  font-family: "Orbitron";
  src: url("../Assets/Fonts/Orbitron-Medium.ttf");
  font-family: "Lato";
  src: url("../Assets/Fonts/Lato-Regular.ttf");
}


body {
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-image: url(../Assets/Images/Background.jpg);
  background-attachment: fixed;
  background-position: center;
}

.icon {
  width: 50px;
}

.icon:hover {
  transform: scale(0.8);
  opacity: 50%;
  transition: transform 0.2s, opacity 0.5s;
}


.header {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: black;
  border-radius: 40px;
  background-color: black;
  justify-content: space-around;
  position: sticky;
  top: 10px;
  z-index: 100;
}

.footer {
  margin: 0px;
  display: flex;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: static;
}

.info {
  font-family: "Orbitron";
  font-size: 40px;
}

.footerleft {
  float: left;
}

.footerright {
  float: right;
}

#img {
  margin: 5px 20px 5px 10px;
  width: 100px;
  vertical-align: middle;
}

#phone {
  font-family: "Lato";
  font-size: 25px;
  letter-spacing: 2px;
}

.slogan {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: black;
  border-radius: 20px;
  padding: 20px 40px 20px;
  max-width: fit-content;
  margin-inline: auto;
  font-family: "Lato";
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
}

.home {
  width: 200px;
}

.slider {
  width: 67.5%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: black;
  border: black;
  border-radius: 20px;
  overflow: scroll;
  font-family: "Orbitron";
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  justify-content: space-around;
  white-space: nowrap;
}

.new {
  position: sticky;
  left: 0px;
}

.featured {
  border: 5px solid white;
  border-radius: 20px;
  width: 400px;
  transition: filter 0.2s;
  filter: blur(5px);
}

.featured:hover {
  filter: blur(0);
}

#last {
  border: 5px solid white;
  border-radius: 20px;
  margin-right: 20px;
}

.top {
  text-align: center;
}

.gallery {
  width: 67.5%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: black;
  border: black;
  border-radius: 20px;
  font-family: "Orbitron";
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  justify-content: space-evenly;
}

hr {
  border: 1px solid white;
  color: white;
}


h1 {
  font-family: "Orbitron";
  color: white;
  letter-spacing: 5px;
}

@media (max-width:768px) {

  body {
    background-position: left;
  }

  .slogan {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .slider {
    font-size: 30px;
    width: 90%
  }

  .gallery {
    font-size: 30px;
    width: 90%;
    margin: auto;
  }

  .featured {
    width: 300px;
  }

  .footer {
    padding: 10px;
  }

  .info {
    font-size: 25px;
  }

  #img {
    width: 50px;
  }

  #phone {
    font-size: 12px;
  }

}